.description {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding: 0;
}

.description__profile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 820px;
    min-height: 200px;
}

.description__photo {
    width: 174px;
    height: auto;

    border-radius: 50%;
}

.description__paragraph-wrapper {
    width: 610px;
    min-height: 80px;
}

.description__greeting {
    margin: 0;
    padding: 0;

    font-size: 17px;
    font-weight: 700;
}

.description__statistic-heading {
    margin: 0;
    margin-top: 20px;
    padding: 0;

    font-size: 17px;
    font-weight: 700;
}

.description__table-statistic {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    width: 860px;
    td {
        margin: 0;
        padding: 0;
        width: 25%;
        height: 41px;

        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }
    th {
        margin: 0;
        padding: 0;
        width: 25%;
        height: 37px;

        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
}