.header {
    position: relative;

    height: 63px;

    background-color: #ffffff;

    transition: all 0.5s ease-out;

    @media (min-width: 1200px) {
        background-color: $white;

        &::after {
            content: "";
            position: absolute;
            bottom: -3px;

            display: block;
            width: 100%;
            height: 3px;

            background-color: $black;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 61px;
        left: 0;

        display: block;
        width: 100%;
        height: 2px;

        background-color: #000000;
    }

    &--blue {
        height: 121px;

        background-color:#025D8C;
    }
}

.header__navigation {
    position: relative;

    @include container-mobile;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 750px) {
        @include container-tablet;
    }

    @media (min-width: 1200px) {
        @include container-desktop;
        min-height: 60px;

        flex-direction: row;
    }
}

.header__link {
    margin: 0;
    margin-top: 15px;
    padding: 0;

    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    text-decoration: none;
    color: $black;

    @media (min-width: 1200px) {
        margin: 0;
        padding: 0;

        font-size: 25px;
        font-weight: 700;
        line-height: 28px;
        color: $light-black;
    }

    &--white {
        color: $white;
    }
}

.header__menu-button {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 0;
    width: 20px;
    height: 12px;

    background: none;
    background-image: url("../img/header-icon-closed.svg");
    background-position: 0;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    @media (min-width: 1200px) {
        display: none;
    }

    &--opened {
        background-image: url("../img/header-icon-opened.svg");
    }
}

.header__site-navigation {
    display: none;

    @media (min-width: 1200px) {
        display: flex;
        margin: 0;
        margin-left: 100px;
    }

    &--opened {
        display: flex;
    }
}
