.page-header {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.page-header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 260px;
    min-height: 50px;

    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: #000000;

    background-color: #ffffff;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 1100px;
    min-height: 50px;

    list-style: none;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

    list-style: none;
}

.site-list {
    padding: 0 50px;
    width: 860px;
    min-height: 50px;
}

.site-list__item a {
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.social-list {
    width: 120px;
    min-height: 50px;
}
