.keyvisual-main {
    width: 100%;

    background-image: url("../img/keyvisual-bg.png");
    background-position: 0 0;
    background-repeat: repeat-x;
}

.keyvisual-main__container {
    @include container-mobile;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 750px) {
        @include container-tablet;

        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    @media (min-width: 1200px) {
        @include container-desktop;
    }
}

.keyvisual-main__heading {
    margin: 30px 0 0;
    padding: 0;

    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #000000;

    @media (min-width: 750px) {
        margin-top: 90px;
        margin-right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 365px;
        min-height: 210px;

        text-align: center;
    }

    @media (min-width: 1200px) {
        margin-top: 265px;
        margin-right: 70px;
        width: 470px;

        font-size: 70px;
        line-height: 75px;
        text-align: center;
        color: #000000;
    }
}
