.main-page__paralax-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &--keyvisual-icons {
        background-image: url("../img/keyvisual-bg.png");
        background-position: 0 0;
        background-repeat: repeat;
    }

    &--yellow-circuit {
        background-image:   url("../img/cubes-top-mobile.svg"),
                            url("../img/cubes-bottom-mobile.svg"),
                            url("../img/yellow-bg-mobile.svg");
        background-position: center 110px, center 95%, center 0;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: auto, auto, 100% 90%;

        @media (min-width: 750px) {
            background-image:   url("../img/cubes-top-tablet.svg"),
                                url("../img/cubes-bottom-tablet.svg"),
                                url("../img/yellow-bg-tablet.svg");
            background-position: center 230px, center 100%, center 0;
            background-size: auto, auto, auto;
        }

        @media (min-width: 1200px) {
            background-image:   url("../img/cubes-top-desktop.svg"),
                                url("../img/cubes-bottom-desktop.svg"),
                                url("../img/yellow-bg-desktop.svg");
            background-position: center 430px, center 100%, center 0;
        }
    }

    &--slider-icons {
        background-image: url("../img/slider-bg.png");
        background-position: 200 0;
        background-repeat: repeat;
    }
}

.main-page__profile {
    @media (min-width: 750px) {
        margin-top: 70px;
    }

    @media (min-width: 1200px) {
        margin-top: 130px;
    }
}

.main-page__stat {
    margin: 58px 0 0;
    padding: 0;

    @media (min-width: 750px) {
        margin-top: 150px;
    }

    @media (min-width: 1200px) {
        margin-top: 300px;
    }
}

.main-page__advantages {
    margin: 70px 0 320px;
    padding: 0;

    @media (min-width: 750px) {
        margin: 160px 0 500px;
    }

    @media (min-width: 1200px) {
        margin: 240px 0 605px;
    }
}

.main-page__skills {
    margin: 0 0 100px;

    @media (min-width: 750px) {
        margin-bottom: 90px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 300px;
    }
}