.main-screen {
    @include container;
    margin-top: 50px;
    box-shadow: inset 0 0 0 1px #00ff00;
}

.main-screen__description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
}

.main-screen__heading {
    margin: 0;
    padding: 0;
    margin-top: 175px;
    width: 462px;

    font-size: 72px;
    font-weight: 700;
    line-height: 80px;
    span {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
    }
}

.main-screen__paragraph {
    margin: 0;
    margin-top: 25px;
    padding: 0;
    width: 473px;
}